body,
html {
  overflow: hidden;
}

body {
  background: #329b73;
  margin: 0px;
}

.ContactsRow {
  overflow-y: scroll;
  height: 100vh;
}

.LogRow {
  overflow-y: scroll;
  height: 83vh;
}

.CardRow {
  height: 100vh;
}

.SingleContactCard {
  width: 100%;
}

.chat-cardContent {
  width: fit-content;
}
